body{
	margin:0 auto;
	font-family: 'open sans', 'sans serif';
	background: #fff;
	font-size: 12px;
	overflow-x: hidden;
}

@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (min--moz-device-pixel-ratio: 2),
only screen and (-moz-min-device-pixel-ratio: 2),
only screen and (-o-min-device-pixel-ratio: 2/1),
only screen and (min-device-pixel-ratio: 2),
only screen and (min-resolution: 192dpi),
only screen and (min-resolution: 2dppx) { 
	/* styles for Retina-type displays */
}

*{
	box-sizing: border-box;
}

.atl{
	background: #fefefe;
}

.it{
	background: #fff;
}


.top{
	width: 100%;
	height: 40px;
	border-bottom:1px solid #ccc;
}

.top .menu{
	list-style: none;
	float: left;
	margin: 0;
}

.top .menu .item{
	float: left;
	height: 42px;
	line-height: 42px;
}

.top .info{
	float: right;
	list-style: none;
	margin:0;
}

.top .info .box{
	width: 100px;
	height: 40px;
	float: left;
}

.top .info .box .text{
	float: left;
	width: 100%;
	height: 20px;
	line-height: 20px;
}

.top .info .box .fecha{
	float: left;
	width:100%;
	height: 20px;
	line-height: 20px;
}

.main {
    margin: 0 auto;
    width: 950px;
}

.main .contenido{
	width: 100%;
	float: left;
}

.main h1{
	
}

.main h2{
	
}

.main .col{
	float: left;
	width: 50%;
}

.main .col .fixture{
	width:	350px;
	float: left;
}

.main .col .fixture .head, .main .col .tablas .head, .main .friends .head{
    border: 1px solid #CCCCCC;
    float: left;
    height: 30px;
    line-height: 30px;
    text-align: center;
    width: 100%;
}

.main .col .fixture .body, .main .friends .body{
	float: left;
	width: 100%;
}

.main .col .fixture .body .row, .main .col .tablas .body .row, .main .friends .body .row{
    border-bottom: 1px solid #CCCCCC;
    border-left: 1px solid #CCCCCC;
    border-right: 1px solid #CCCCCC;
    float: left;
    height: 25px;
    line-height: 20px;
    width: 100%;
}

.main .col .fixture .body .row div, .main .col .tablas .body .row div, .main .friends .body .row div{
	float: left;
	height: 25px;
	line-height: 25px;
	border-right: 1px solid #ccc;
}

.main .col .fixture .body .row div:last-child, .main .col .tablas .body .row div:last-child, .main .friends .body .row div:last-child {
	border-right: none;
}

.main .col .fixture .head div, .main .col .tablas .head div, .main .friends .head div{
	float: left;
	height: 30px;
	line-height: 30px;
	font-weight: 600;	
	border-right: 1px solid #ccc;
	text-align: center;
}

.main .col .fixture .head div:last-child, .main .col .tablas .head div:last-child, .main .friends .head div:last-child{
	border-right: none;
}

.main .col .fixture .bandera{
	width: 20px;
}

.main .pais{
	width: 100px;
	padding-left: 5px;
	text-align: center;
}

.main .resultado{
	width:25px;
	text-align: center;
	float: left;
}

.main .col .fixture .resultado input{
	width:22px;
	border: none;
	height: 22px;
	text-align: center;
}

.main .col .tablas{
	float: left;
	width: 279px;
	margin-left: 20px;
}

.main .col .tablas .head{
	float: left;
}

.main .col .tablas .inf{
	width: 100%;
	height: 20px;
	line-height: 20px;
}

.main .col .tablas span{
	float: left;
	font-weight: 600;
	margin-left: 10px;
}

.wide{
	float: left;
	width: 100%;
	position: relative;
}

.friends {
	float: left;
	width:200px;
}

